


@media all and (max-width: 600px) {




@media all and (max-width: 500px) {
/*
	.panel {
		background-size: 40%;
		background-color:white; 
		border: 1px solid #a7dfff;
		border-radius: 15px;
		width: 95%;
		height: auto;
		padding-top: 1%;
		padding-left: 30%; 
	}
	.right {
		padding: 2%;
		margin: 0px 0px 2% 0px;
	}
	
	.columnLeft {
		display:none;
	}
*/

}