
body {
		font-size: 110%;
		background: red;
}
.wrapper {
	width: 100%;
	max-width: 960px;
}

@media all and (max-width: 600px) {
	body {
		font-size: 80%;
		background: blue;
	}
}

/*	wrapper contains all sections and divs
-------------------------------------------------------------*/
