.processsec {
	background: #d9f1ff;
	border-top: 5px solid #5dacd7;
	padding-left: 1%;
	padding-top: 5px;
	padding-bottom: 0px;
}
.process ul {
	position: relative;
	-webkit-padding-start: 0px;
	display: inline-table;
	width: 100%;
	list-style-type: none;
}
.process ul li{
	float: left;
	width: 15%;
	padding: 1% 2%;
	padding-right: 3%;
	font-size: 1em;
	text-transform: uppercase;
	color: #c8c8c8;
	background: white;
	background-image: url(process_arrow_white.png);
	background-position: right;
	background-repeat: no-repeat; 
}
.process  ul li#lastarrow  {
	background-image: url();
}
.process li#select {
	background: #5dacd7;
	background-image: url(process_arrow_select.png);
	background-position: right;
	background-repeat: no-repeat;
	color: white;
}
.process ul li#selected {
	background: #5dacd7;
}
.process ul li#selected a  {
	color: white;
}
.process ul li#selected2 {
	background: #5dacd7;
}
.process ul li#selected2 a  {
	color: white;
}
.process ul li#selected3 {
	background: #5dacd7;
}
.process ul li#selected3 a  {
	color: white;
}
.process ul li#selected4 {
	background: #5dacd7;
}
.process ul li#selected4 a  {
	color: white;
}
.process ul li#selected_end {
	background: #5dacd7;
}
.process ul li#selected_end  {
	color: white;
}
.process  ul li#selected:hover {
	background: #A0D34F;
	color: white;
	cursor: hand;
}
.process  ul li#selected2:hover {
	background: #A0D34F;
	color: white;
	cursor: hand;
}
.process  ul li#selected4:hover {
	background: #A0D34F;
	color: white;
	cursor: hand;
}
.process  ul li#selected4:hover {
	background: #A0D34F;
	color: white;
	cursor: hand;
}

.process ul li a {
	color: #A0D34F;
}

.process img {
	padding-right: 5%;
	vertical-align: middle;
}



@media all and (max-width: 850px) {
	.process ul li{
		font-size: .7em;
		height: 28px;
		text-align: center;
	}
	.process img {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

}

@media all and (max-width: 500px) {
	.processsec {
		padding: 10px 0px 0px 0px;
	}
	.process ul li{
		width: 15%;
		height: 25px;
		}
	.process img {
		display: none;
	}

}

