
button {
	width: 85%;
}
button.main.mobile a:link {
	color: white;
}
button.main.mobile:hover {
	background: #9ab142;
	cursor: hand;
}
.button.large {
	padding: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
}
.button.large.mobile {
	padding: 2%;
	margin-left: 0px;
}

@media all and (max-width: 600px) {  /* TABLET - BLUE */
	.blue_3 .grid_6 {
		width: 64.58%;
	}
}

@media all and (max-width: 500px) {  /* MOBILE  - GREEN */
	.blue_3 .grid_6 {
		width: 64.58%;
	}
	.features .grid_4{
		width: 94.5%;
		background: #ebebeb;
		margin-bottom: 2%;
		padding-right: 3%;
		font-size: 1.05em;
	}
	.features img {
		width: 30%;
		padding-right: 3%;
		float: left;
	}
}