
section .requestquote {
	background: #5dacd7;

}

.requestquote .grid_5{
	background:white;
	padding-top: 5%;
	padding: 2%;
	border-radius: 10px;
}

.panel_left {
}


.panel_right {
}

.quote_left{
}

.quote_right{
}

form {}

.form_payment {
}

.form_payment fieldset{
	border:none;

}


fieldset {
}

legend {
	font-size: 10px;
	
}

.form_payment legend {
	font-size:18px; 
	color:#5dacd7; 
	text-align:left;
	padding-top: 3%;
	padding-bottom: 3%;

}

.form_payment legend h2 {
	text-align:center;
}

 ol { }

.form_payment ol{
	list-style-type: none;
	/* -webkit-padding-start: 0px; <----- if you want to remove indentation*/  

}

.form_payment ol li{
	
}

select {
	width:48%;
	border-radius: 0;
	 -webkit-appearance: none;
	 height: 30px;
	 padding-left: 2%;
	 background: url(dropdownarrow.jpg) no-repeat right white;
	 border: 1px solid #aaaaaa;
	 color: #0974a7;
	 margin-bottom: 1%;
}

hr {
	width: 50%;
}

textarea {
	width: 90%;
	margin-top: 1%;
	border: 1px solid #aaaaaa;
	padding:5px;
}

@media all and (max-width: 600px) {

}

@media all and (max-width: 500px) {
}


@media all and (max-width: 600px) {
	body {
		font-size: 100%;
		h2: 80%;
		legend: 60%;
	}
	
	.grid_2 {
		display: none;
	}
	
 	.requestquote .grid_5{
		background: white;
		padding-top: 5%;
		padding: 2%;
		border-radius: 8px;
		width: 80%;
	}
	

}


@media all and (max-width: 500px) {
	body {
		font-size: 100%;
		h2: 50%;
		legend: 50%;
	}
	
	.grid_2 {
		display: none;
	}
	
 	.requestquote .grid_5{
		background: white;
		padding-top: 5%;
		padding: 2%;
		border-radius: 5px;
		width: 70%;
		
	}

}
}





