.sec_contact {
	display: none;
}
.sec_video img {
	width: 100%;
	cursor: hand;
}
.sec_input {
}
.sec_signup {
	color: #0c70a0;
	font-weight: 200;
}
input {
	width: 67.91%;
	border-top: 2px solid white;
	height: 30px;
	margin-top: 2%;
}
.button {
	width: 30%;
	margin-top: 2%;
	padding:2%;
}
.first_button {
	width: 70%;
}
.sec_input button  {
	float: right;
}

.newsletter {
	display: block;
}
.newsletter_mobile {
	display: none;
}
.sec_input.button {
	width: 10%;
	float: left;
	padding: 1%;
}

@media all and (max-width: 600px) {

}

@media all and (max-width: 500px) {
	.sec_head {
		width: 47.91%;
	}
	.first_button {
		display: none;
	}
	.second_button {
		width: 90%;
		height: 25px;
	}
	.sec_contact {
		display: block;
	}
	.sec_owner {
		padding-top:2%;
		width: 47.91%;
	}
	.sec_video {
		width:97.91%;
	}
	.sec_story {
		width: 97.91%;
		padding-top:2%;
	}
	.newsletter {
		display: none;
	}
	.newsletter_mobile {
		display: block;
	}
	input {
		height: 25px;

	}

}
